<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/index.css">
    <title>Invictus Hard Store</title>
</head>

<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <section class="destacados">
            <h1>Lista de Productos</h1>
            <div class="producto">
             <!-- <% products.forEach((product) =>{ %>
                <article>
                    <a href="/products/detail/<%= product.id %> style="text-decoration: none">
                        <img src="../images/products/<%= product.image %>" alt="<%= product.name %>">
                        
                        <div class="main-article">
                            <div class="">
                                <p class="titulo"><%= product.name %></p>
                                <p class="descripcion"><%= product.description %></p>
                            </div>
                            <p class="precio"><%= product.price %></p>
                        </div>
                    </a>
                </article>
                <% }) %>  -->

                <% products.forEach((product) =>{ %>
                    <article>
                        <a href="/products/detail/<%= product.id %>" style="text-decoration: none">
                            <img src="../images/products/<%= product.image %>" alt="<%= product.name %>">
                            
                            <div class="main-article">
                                <div class="">
                                    <p class="titulo"><%= product.name %></p>
                                    <p class="descripcion"><%= product.description %></p>
                                </div>
                                <p class="precio">$ <%= product.price %></p>
                            </div>
                        </a>
                    </article>
                <% }) %> 
            </div>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

</body>
</html>