<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/crearProducto.css">
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <title>Crear producto</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <section class="section-crearProducto">
            <form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" >

               <!-- Información General -->
               <article class="article-crearProducto">
                <h2 class="crearProducto-titulo">Información General</h2>
                <label class="crearProducto-subtitulo" for="name">Nombre del Producto:</label>
                <input type="text" id="name" name="name" value="<%= productToEdit.name %>" required>

                <label class="crearProducto-subtitulo" for="description">Descripción:</label>
                <textarea id="description" name="description" rows="4" required> <%= productToEdit.description %></textarea>
                <!-- Precio del Producto -->

                <label class="precio-container crearProducto-subtitulo" for="price">Precio:</label>
                <label for="precio">Precio:</label>
                <div class="precio-container">                    
                    <input type="text" id="price" name="price" value="<%= productToEdit.price %>" required>
                </div>

                <!-- Imagen del Producto -->
                <h2 class="crearProducto-titulo">Imagen del Producto</h2>

                <input type="file" id="imagen" name="imagen" accept="image/*" >

                <!-- Categoría del Producto -->
                <div class="col-12 col-md-6">
                    <label for="categoria" class="form-label">Categoría:</label>
                    <select id="categoria" name="category" class="form-input" required>
                        <option value="almacenamiento" <% if (productToEdit.category === 'almacenamiento') { %> selected <% } %>>Almacenamiento</option>
                        <option value="fuentes" <% if (productToEdit.category === 'fuentes') { %> selected <% } %>>Fuentes</option>
                        <option value="gpus" <% if (productToEdit.category === 'gpus') { %> selected <% } %>>Placas de video</option>
                        <option value="ram" <% if (productToEdit.category === 'ram') { %> selected <% } %>>Memorias RAM</option>
                        <option value="procesadores" <% if (productToEdit.category === 'procesadores') { %> selected <% } %>>Procesadores</option>
                        <option value="motherboards" <% if (productToEdit.category === 'motherboards') { %> selected <% } %>>Motherboards</option>
                        <option value="gabinetes" <% if (productToEdit.category === 'gabinetes') { %> selected <% } %>>Gabinetes</option>
                    </select>
                </div>
                <ul id="errorContainer" class="error-container"></ul>
                
                <div class="botones">
                    <!-- Botón de Enviar -->
                    <button class="boton crear" type="submit">MODIFICAR</button>
                  <!--  <button class="boton volver" type="submit">Volver</button> -->
                </div>
            </article>











        </form>
        </section>
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/js/productValidation.js"></script>
</body>

</html>