<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/detalleProducto.css">

        <title>Invictus Hard Store</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="detalle-producto">
            <div class="imagen-titulo">
                <img id="imagen-principal" src="../../images/productsBD/<%= product.img %>" alt="Producto principal">
                <!-- Miniaturas de imágenes -->
                <div id="miniaturas">
                    <img class="miniatura-imagen" src="../../images/productsBD/<%= product.img %>" alt="Miniatura 1"
                        onclick="cambiarImagen('imagen_principal', 'miniatura1.jpg')">
                    <img class="miniatura-imagen" src="../../images/productsBD/<%= product.img %>" alt="Miniatura 2"
                        onclick="cambiarImagen('imagen_principal', 'miniatura2.jpg')">
                </div>
            </div>

            <div class="precio-info-botones">
                <div class="prodTitleRight">
                <h3><%= product.name %></h3>
                </div>
                <div class="productPrice">
                    <p>Precio:</p>
                <p>$ <%= product.price %></p>
                </div>
                <div class="botonesContainerDetail">
                <a href="#" class="boton-pequeno" style="background-color: #04D0D9 ; color:black ;font-size:16px; text-decoration: none;">COMPRAR</a>
                <!-- <a href="#" class="boton-pequeno">Agregar al Carrito</a> -->

                <% if (locals.isLoged) { %>
                    <% if (locals.userLogged.roles_id===1) { %>
                        <a href="/products/edit/<%= product.id %>" class="boton-pequeno"
                            style="background-color: #97c72e;font-size:16px; color:black ; text-decoration: none;">EDITAR PRODUCTO</a>
                        <form action="/products/delete/<%= product.id %>" method="POST" style="display: block; margin-bottom: 8px;">
                            <button type="submit" class="boton-eliminar" style=" color:black; font-size:16px;">ELIMINAR</button>
                        </form>                
                        <% } %>
                            <% } %>
                        </div>
                            <div class="iconosProducto">
                               
                                <div class="iconoProductoSeparado">
                            <i class="fas fa-shield-alt"></i><p>Garantía - 12 meses</p>
                            </div>
                            <div class="iconoProductoSeparado">
                            <i class="fas fa-check"></i>
                            <p>Stock disponible</p>
                        </div>
                        <div class="iconoProductoSeparado">
                            <i class="fas fa-truck"></i><p>Envíos a todo el país.</p>
                        </div>
                        </div>
            </div>
        </div>

        <div class="especificaciones">
            <div class="titulo-especificaciones">
                <h2>Especificaciones del Producto</h2>
            </div>
            <div class="grupo-especificaciones">
                <h3 class="categoria">General</h3>
                <ul class="grupoUl">
                    <li>Nombre del producto: <%= product.name %></li>
                    <li>Categoria al que pertenece: <%= product.category.name %></li>
                </ul>
            </div>
            <div class="grupo-especificaciones">
                <h3 class="categoria">Descripcion</h3>
                <ul  class="grupoUl">
                    <p> <%= product.description %></p>
                </ul>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <link rel="stylesheet" href="/css/index.css">
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>