<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/detalleProducto.css">

        <title>Invictus Hard Store</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="detalle-producto">
            <div class="imagen-titulo">
                <img id="imagen-principal" src="../../images/productsBD/<%= product.img %>" alt="Producto principal">
                <!-- Miniaturas de imágenes -->
                <div id="miniaturas">
                    <img class="miniatura-imagen" src="../../images/productsBD/<%= product.img %>" alt="Miniatura 1"
                        onclick="cambiarImagen('imagen_principal', 'miniatura1.jpg')">
                    <img class="miniatura-imagen" src="../../images/productsBD/<%= product.img %>" alt="Miniatura 2"
                        onclick="cambiarImagen('imagen_principal', 'miniatura2.jpg')">
                </div>
            </div>

            <div class="precio-info-botones">
                <div>
                    <p>Precio:</p>
                <p>$ <%= product.price %></p>
                </div>
                
                <a href="#" class="boton-pequeno">Comprar</a>
                <!-- <a href="#" class="boton-pequeno">Agregar al Carrito</a> -->
                <a href="/products/edit/<%= product.id %>" class="boton-pequeno" style="background-color: green;">EDITAR PRODUCTO</a>
                <form action="/products/delete/<%= product.id %>" method="POST" style="display: block; margin-bottom: 8px;">
                    <button type="submit"  class="boton-eliminar">ELIMINAR</button>
                </form>  
            </div>
        </div>

        <div class="especificaciones">
            <div class="titulo-especificaciones">
                <h2>Especificaciones del Producto</h2>
            </div>
            <div class="grupo-especificaciones">
                <p class="categoria">General</p>
                <ul>
                    <li>Nombre del producto: <%= product.name %></li>
                    <li>Categoria al que pertenece: <%= product.category.name %></li>
                </ul>
            </div>
            <div class="grupo-especificaciones">
                <p class="categoria">Descripcion</p>
                <ul>
                    <p> <%= product.description %></p>
                </ul>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <link rel="stylesheet" href="/css/index.css">
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>