<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/cart.css">
        <title>Carrito de Compras</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <div class="container-cart">
            <h1>Carrito de Compras</h1>
            
            <% if (cart.length > 0) { %>
                <ul>
                    <% cart.forEach(item => { %>
                        <li>
                            <img src="/images/productsBD/<%= item.product.img %>" alt="<%= item.product.titulo %>">
                            <div class="product-info">
                                <p class="product-title"><%= item.product.titulo %></p>
                                <form action="/cart/update" method="POST" class="update-cart-form">
                                    <input type="hidden" name="productId" value="<%= item.product.id %>">
                                    <input type="hidden" class="product-price" value="<%= item.product.price %>">
                                    <p>Titulo: <%= item.product.name %></p>
                                    <p class="product-cant">Cantidad: <input type="number" class="product-quantity" value="<%= item.quantity %>" min="1"></p>
                                </form>
                            </div>
                            <div class="product-price-container">
                                <p class="total-price">Precio total: $<span><%= (item.product.price * item.quantity).toFixed(2) %></span></p>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <div class="total-cart">
                    <p>Total del carrito: $<span id="cart-total"><%= total.toFixed(2) %></span></p>
                </div>
                <div class="vovler-carrito">
                    <a href="/products/prodList">Continuar Comprando</a>
                </div>
                <form action="/cart/purchase" method="POST">
                    <button type="submit">Comprar</button>
                </form>
            <% } else { %>
                <% if (locals.isLoged) { %>
                    <p class="cart-message">El carrito está vacío.</p>
                <% } else { %>
                    <p class="cart-message">Primero debes Iniciar Sesión</p>
                <% } %>
            <% } %>
        </div>
        <div class="container">


            <% if (cart.length> 0) { %>
                <div class="containerAll">
                    <ul class="containerProd">
                        <% cart.forEach(item=> { %>
                            <li class="liProdsCart">
                                <div class="containerImgProd">
                                    <img class="imgProdCart" src="/images/productsBD/<%= item.product.img %>"
                                        alt="<%= item.product.titulo %>">
                                </div>
                                <div class="containerInfoProd">

                                    <p class="textoProdInfo">
                                        <%= item.product.name %>
                                    </p> <!-- Cambié "titulo" por "name" -->
                                    <p class="textoProdInfo">Cantidad: <input type="number" value="<%= item.quantity %>"
                                            min="1"></p>

                                    <p class="textoProdInfo">Precio: $<%= item.product.price %>
                                    </p>
                                </div>
                            </li>
                            <% }) %>
                    </ul>
                    <div class="formCompra">
                        <form action="/cart/purchase" method="POST">
                            <button class="comprarButton" type="submit">COMPRAR</button>
                        </form>
                    </div>
                </div>

                <% } else { %>
                    <% if (locals.isLoged) { %>
                        <div class="containerCarritoVacio">
                            <!-- <h1>Carrito de Compras</h1> -->
                           <p>El carrito está vacío.</p>

                            </div>

                            <% } else { %>
                                <div class="containerCarritoVacio">
                                <p>Primero debes Iniciar Sesión</p>
                            </div>
                                <% } %>
                                    <% } %>


                        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <!-- JavaScript para escuchar eventos de cambio en la cantidad del producto y actualizar el precio -->
    <script>
    document.querySelectorAll('.product-quantity').forEach(input => {
        input.addEventListener('change', function() {
            const quantity = parseInt(this.value);
            const price = parseFloat(this.closest('.product-info').querySelector('.product-price').value);
            const totalPriceElement = this.closest('li').querySelector('.total-price span');
            const totalPrice = quantity * price;
            // Actualizar el texto del precio total del producto
            totalPriceElement.textContent = totalPrice.toFixed(2);

            // Actualizar el total del carrito
            let newTotal = 0;
            document.querySelectorAll('.total-price span').forEach(span => {
                newTotal += parseFloat(span.textContent);
            });
            document.getElementById('cart-total').textContent = newTotal.toFixed(2);
        });
    });
    </script>
</body>
<<<<<<< HEAD

</html>
=======
</html>
>>>>>>> miranda-ismael
