<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
        <!-- <link rel="stylesheet" href="/css/home.css"> -->
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/index.css">
        <title>Invictus Hard Store</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="form-container">
            <h1 class="profile-title">Información personal</h1>
            <!-- <h3 class="profile-userName">Hola!, <%= user.username %></h2> -->
                <div    class="container-profile">
                    <div class="profile-info">
                        <div>
                        <p class="profile-userText"><strong>NOMBRE :</strong> <%= user.first_name %>
                        </p>
                        <p class="profile-userText"><strong>APELLIDO:</strong> <%= user.last_name %>
                        </p>
                        <p class="profile-userText"><strong>CORREO ELECTRONICO :</strong> <%= user.email %>
                        </p>
                        <% if (user.roles_id === 1) {%>
                        <p class="profile-userText"><strong>ROL :</strong>  Administrador</p>
                        <% }else if (user.roles_id === 2) {%>
                        <p class="profile-userText"><strong>ROL :</strong>  Usuario</p>
                        <% } %>
                    </div>
                        <div class="image-profile">
                            <img class="profile-userImage-perfil" src="/images/users/<%= user.img %>">
                        </div>
                    </div>
                  
                    <div >
                        <a href="/users/profile/edit/<%= user.id %>">
                            <button class="edit-button">Editar</button>
                        </a>
                    </div>
                </div>
            <!-- <a href="/users/profile/edit/<%= user.id %>" class="userEdit-button"></a> -->
            </br>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>