<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/index.css">
        <title>Invictus Hard Store</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div class="form-container">
            <div>
                <div>
                    <h1 class="profile-title">Información personal</h1>
                    <!-- <h3 class="profile-userName">Hola!, <%= user.username %></h2> -->
                        <div>
                    <p class="profile-userText">Nombre: <%= user.first_name %></p>
                    <p class="profile-userText">Apellido: <%= user.last_name %></p>
                    <p class="profile-userText">Tu correo registrado es: <%= user.email %></p>
                        </div>
                        <div>
                    <img class="profile-userImage" src="/images/users/<%= user.img %>">
                        </div>
                        <a href="/users/profile/edit/<%= user.id %>">
                            <button>Editar</button>
                        </a>
                    <!-- <a href="/users/profile/edit/<%= user.id %>" class="userEdit-button"></a> -->
                </br>
                

                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>