<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
    <link rel="stylesheet" href="../css/registro.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <title>Registrar</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <br>
       
        <br>
        
       <form action="/users/register" method="POST" class="form-register" enctype="multipart/form-data" id="registroForm">
        <div class="contacto" style="margin-bottom:15px">
            <p><strong>Registrar Usuario</strong></p>
            <p>Ingresa tus datos para crear tu cuenta</p>
        </div>
            <div class="registroContainer">
                
                
                    <div>
                    <input type="text" class="class-input" id="nombre" name="first_name"  required placeholder="Nombre/s" value="<%= locals.oldData ? oldData.first_name : null %>">
                    <!-- <div id="nombreError" class="error-message"></div>  -->
                    </div>
                    
           

                <div>
                    <input type="text" class="class-input" id="apellido" name="last_name" required placeholder="Apellido" value="<%= locals.oldData ? oldData.last_name : null %>">
                    <!-- <div id="apellidoError" class="error-message"></div>  -->
                    </div>

                <div>
                    <input type="email" name="email" id="email" required placeholder="Correo electrónico" value="<%= locals.oldData ? oldData.email : null %>">
                    <!-- <div id="emailError" class="error-message"></div>  -->
                </div>
                
                <div>
                    <input type="password" name="password" id="password" required placeholder="Contraseña">
                    <!-- <div id="passwordError" class="error-message"></div>  -->
                </div>

                <div>
                    <select name="roles_id" id="role" class="form-Select" required>
                        <option value="">Elige un rol</option>
                        <%  let roles = [{ id: 1, name: 'Administrador' }, { id: 2, name: 'Usuario' }] %>
                        <% for(const oneRole of roles) { %>
                            <option value="<%= oneRole.id %>"
                            <%= locals.oldData && (oneRole.id === oldData.roles_id) ? 'selected' : null  %>
                            > <%= oneRole.name %> </option>
                        <% } %>
                    </select>
                    <!-- <div id="roleError" class="error-message"></div>  -->
                </div>

                <div>
                    <input type="file" id="img" name="img" accept="image/*" class="form-input" style="padding-top: 10px;">
                    <!-- <div id="imgError" class="error-message"></div>  -->
                </div>

                <ul id="errorContainer"></ul>

                <ul>
                    <ul>
                    <% if(locals.errors){ %>
                        <% for (let oneError in errors) { %>
                            <li class="li-registro"> <%= errors[oneError].msg %> </li>
                            <% } %>
                            <% } %>
                        </ul>
                            <!-- <div>
                                <% if (locals.errors && errors.img) { %>
                                    <p> <%= errors.img.msg %> </p>
                                    <% } %>
                            </div> -->
                </ul>
                
                <div>
                    <button class="registerButton" type="submit" >REGISTRAR</button>
                </div>
                
                <div name="agree">¿Ya tienes cuenta? Inicia sesión <a href="/Users/login">aquí</a></div>
            </div>
        </form> 
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/registerValidation.js"></script>
</body>
</html>