<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
    <link rel="stylesheet" href="../css/registro.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Registrar</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <br>
        <div class="contacto">
            <p><strong>Registrar Usuario</strong></p>
            <p>Ingresa tus datos para crear tu cuenta</p>
        </div>
        <br>
        
       <form action="/users/register" method="POST" class="form-register" enctype="multipart/form-data">
            <div>
                <!-- <div>
                    <input type="text" name="username" required placeholder="Nombre de usuario">
                </div> -->

                <div class="div-container">
                    <input type="text" class="class-input" name="first_name" required placeholder="Nombres">
                    <input type="text" class="class-input" name="last_name" required placeholder="Apellido">
                </div>

                <div>
                    <input type="email" name="email" required placeholder="Correo electrónico">
                </div>
                
                <div>
                    <input type="password" name="password" required placeholder="Contraseña">
                </div>

                <div>
                    <select name="roles_id" id="role" class="form-input" required>
                        <option value="">Elige un rol</option>
                        <%  let roles = [{ id: 1, name: 'Administrador' }, { id: 2, name: 'Usuario' }] %>
                        <% for(const oneRole of roles) { %>
                            <option value="<%= oneRole.id %>"
                            <%= locals.oldData && (oneRole.id === oldData.roles_id) ? 'selected' : null  %>
                            > <%= oneRole.name %> </option>
                        <% } %>
                    </select>
                    
                        
                    </select>
                </div>

                <div>
                    <!-- Cambié la línea siguiente para agregar el atributo accept y así permitir solo archivos de imagen -->
                    <input type="file" id="img" name="img" accept="image/*" class="form-input" style="padding-top: 10px;">
                    
                </div>
                
                <!-- Botón de Registro -->
                <div class="form-register">
                    <input type="submit" value="Registrar">
                </div>
                
                <!-- Iniciar Sesión -->
                <div name="agree">¿Ya tienes cuenta? Inicia sesión <a href="/Users/login">aquí</a></div>
            </div>
        </form> 
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>